.ChatSubmitButton {
    width: 432px;
    height: 48px;
    background-color: rgb(242, 242, 247);
    border: none;
    margin-bottom: 10px;
    padding-left: 20px;
    cursor: pointer;

    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    row-gap: 17px;
    letter-spacing: 0%;
    // text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
