body {
    background-color: #f2f2f7;
}

.mainWrapper {
    max-width: 1280px;
    margin: 0 auto;
    height: 95vh;
    width: 100%;
    position: relative;
}

.invisibleClickScreen {
    width: 100%;
    height: 46vh;
    position: absolute;
    z-index: 3;
}
