.mainWrapper {
    overflow-y: auto;
    overscroll-behavior-y: auto;
    margin: 10px 18px 0 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mainWrapper::-webkit-scrollbar {
    width: 18px;
    background-color: #f9f9fd;
}

.mainWrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

.mainWrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #f9f9fd, #00c6fb, #336cff, #336cff);
    background-size: 100% 100%;
    animation: 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}

@keyframes gradient {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}

.positionControlerTypeUser {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.positionControlerTypeBot {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.messageUserBubbleWrapperUser {
    display: inline-flex;
    max-width: 620px;
    max-height: 164px;
    margin: 18px 18px 0 58px;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(239, 253, 222);
    color: rgb(109, 181, 102);
}

.messageUserBubbleWrapperBot {
    display: inline-flex;
    max-width: 620px;
    max-height: 164px;
    margin: 18px 58px 0 58px;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    color: rgb(165, 174, 184);
    background-color: rgb(242, 242, 247);
}

// .messageUserBubbleWrapper {
//     max-width: 620px;
//     max-height: 164px;
//     margin-right: 58px;
//     margin-bottom: 18px;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     align-items: flex-end;
//     background-color: rgb(239, 253, 222);
//     border-radius: 15px;
//     justify-content: space-between;
// }

.messageText {
    max-width: 80%;
    max-height: 164px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 14px;
    margin-right: 26px;
    color: black;
    overflow-wrap: anywhere;
    font-size: 14px;
}

.dataText {
    margin-right: 12px;
}

.dataText {
    padding-right: 14px;
    max-height: 164px;

    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;

    letter-spacing: -0.41px;
}
