.modalPortalWrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.mainWrapper {
    width: 480px;
    height: 651px;

    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 24px;
    background-color: white;
    position: absolute;

    @media (max-width: 10000px) {
        left: 1000px;
        top: 24px;
    }

    @media (max-width: 1560px) {
        left: 900px;
        top: 24px;
    }

    @media (max-width: 1390px) {
        left: 800px;
        top: 24px;
    }

    @media (max-width: 1190px) {
        left: 610px;
        top: 24px;
    }

    // left: 800px;
    // top: 24px;

    z-index: 10;
}

.chatSelectionWrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

.chatSelectionMenu {
    display: flex;
    flex-direction: column;
}

.newChatCreationBtn {
    width: 432px;
    min-height: 42px;
    background-color: rgb(51, 108, 255);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
